[submodule "libs/vim-pathogen"]
	path = libs/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "libs/github/vim-pathogen"]
	path = libs/github/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "libs/github/nerdtree"]
	path = libs/github/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "libs/github/gruvbox"]
	path = libs/github/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "libs/github/syntastic"]
	path = libs/github/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "libs/github/vim-airline"]
	path = libs/github/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "libs/github/vim-fugitive"]
	path = libs/github/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "libs/github/vim-sensible"]
	path = libs/github/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "libs/github/vim-signify"]
	path = libs/github/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "libs/github/powerline-fonts"]
	path = libs/github/powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "libs/github/oh-my-zsh"]
	path = libs/github/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "libs/github/php.vim"]
	path = libs/github/php.vim
	url = https://github.com/StanAngeloff/php.vim.git
[submodule "libs/github/ack.vim"]
	path = libs/github/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "libs/github/ctrlp.vim"]
	path = libs/github/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "libs/github/rainbow_parentheses.vim"]
	path = libs/github/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule "libs/github/taglist.vim"]
	path = libs/github/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "libs/github/vim-markdown"]
	path = libs/github/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "libs/github/dotbot"]
	path = libs/github/dotbot
	url = https://github.com/csivanich/dotbot.git
[submodule "libs/github/vim-l9"]
	path = libs/github/vim-l9
	url = https://github.com/eparreno/vim-l9.git
[submodule "libs/github/cup.vim"]
	path = libs/github/cup.vim
	url = https://github.com/vim-scripts/cup.vim.git
[submodule "libs/github/molokai"]
	path = libs/github/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "libs/github/rust.vim"]
	path = libs/github/rust.vim
	url = https://github.com/wting/rust.vim
[submodule "libs/github/colorizer.git"]
	path = libs/github/colorizer.git
	url = https://github.com/lilydjwg/colorizer.git
