[submodule "libs/vim-pathogen"]
	path = libs/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "libs/github/vim-pathogen"]
	path = libs/github/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "libs/github/nerdtree"]
	path = libs/github/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "libs/github/gruvbox"]
	path = libs/github/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "libs/github/syntastic"]
	path = libs/github/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "libs/github/vim-airline"]
	path = libs/github/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "libs/github/vim-fugitive"]
	path = libs/github/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "libs/github/vim-sensible"]
	path = libs/github/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "libs/github/vim-signify"]
	path = libs/github/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "libs/github/powerline-fonts"]
	path = libs/github/powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "libs/github/php.vim"]
	path = libs/github/php.vim
	url = https://github.com/StanAngeloff/php.vim.git
[submodule "libs/github/ack.vim"]
	path = libs/github/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "libs/github/ctrlp.vim"]
	path = libs/github/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "libs/github/rainbow_parentheses.vim"]
	path = libs/github/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule "libs/github/taglist.vim"]
	path = libs/github/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "libs/github/vim-markdown"]
	path = libs/github/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "libs/github/dotbot"]
	path = libs/github/dotbot
	url = https://github.com/csivanich/dotbot.git
[submodule "libs/github/vim-l9"]
	path = libs/github/vim-l9
	url = https://github.com/eparreno/vim-l9.git
[submodule "libs/github/cup.vim"]
	path = libs/github/cup.vim
	url = https://github.com/vim-scripts/cup.vim.git
[submodule "libs/github/molokai"]
	path = libs/github/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "libs/github/rust.vim"]
	path = libs/github/rust.vim
	url = https://github.com/wting/rust.vim
[submodule "libs/github/colorizer.git"]
	path = libs/github/colorizer.git
	url = https://github.com/lilydjwg/colorizer.git
[submodule "libs/github/vim-latex.git"]
	path = libs/github/vim-latex.git
	url = https://github.com/lervag/vim-latex.git
[submodule "libs/github/zsh-syntax-highlighting"]
	path = libs/github/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "libs/github/z"]
	path = libs/github/z
	url = https://github.com/rupa/z.git
[submodule "libs/github/vim-autocomplpop"]
	path = libs/github/vim-autocomplpop
	url = https://github.com/othree/vim-autocomplpop.git
[submodule "libs/github/vim-autoclose"]
	path = libs/github/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "libs/github/vim-auto-save"]
	path = libs/github/vim-auto-save
	url = https://github.com/vim-scripts/vim-auto-save.git
[submodule "libs/github/emmet-vim"]
	path = libs/github/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "libs/github/vim-ansible-yaml"]
	path = libs/github/vim-ansible-yaml
	url = git://github.com/chase/vim-ansible-yaml.git
[submodule "libs/github/vim-ruby"]
	path = libs/github/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "libs/github/dux"]
	path = libs/github/dux
	url = https://github.com/csivanich/dux
[submodule "libs/github/vim-unimpaired"]
	path = libs/github/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "libs/github/gundo.vim"]
	path = libs/github/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "libs/github/vim-signature"]
	path = libs/github/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "libs/github/glacier-cli"]
	path = libs/github/glacier-cli
	url = https://github.com/csivanich/glacier-cli.git
[submodule "libs/github/Vim-Jinja2-Syntax"]
	path = libs/github/Vim-Jinja2-Syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
[submodule "libs/github/cleanroom"]
	path = libs/github/cleanroom
	url = https://github.com/csivanich/cleanroom
[submodule "libs/github/vim-elixir.git"]
	path = libs/github/vim-elixir.git
	url = https://github.com/elixir-lang/vim-elixir.git
