! xterm ----------------------------------------------------------------------
!
xterm*VT100.geometry:     80x25
!xterm*faceName:			  Terminess Powerline:style=Regular
xterm*faceName:           Sauce Code Powerline:style=Regular
xterm*faceSize:           10
xterm*termName:	          xterm-256color
! xterm*font:              -*-dina-medium-r-*-*-16-*-*-*-*-*-*-*
xterm*dynamicColors:      true
xterm*utf8:               2
xterm*locale:			  true
xterm*eightBitInput:      true
xterm*saveLines:          4096
! xterm*scrollKey:          true
xterm*scrollTtyOutput:    true
! xterm*scrollBar:          true
! xterm*rightScrollBar:     true
! xterm*jumpScroll:         true
! xterm*multiScroll:        true
! xterm*toolBar:            false

! solarized color overrides --------------------------------------------------
! Many colors from https://kuler.adobe.com/2014-Trends-color-theme-3429908
!
#define black		#1A1B21
#define darkGray	#32343B
#define brown		#8A7265
#define darkBrown	#2B2321
#define red			#D8403A
#define lightRed 	#F0695E
#define lightBlue	#BECDF0
#define white		#ECEEE1
#define cream		#FDCD8D
#define green		#44BD2B
#define lightGreen	#B9F0D0
#define lightYellow #F0E49D
#define lightBrown	#BAA061
*background:				darkBrown
*foreground:				white
*fadeColor:					darkGray
*pointerColorBackground:	white
*pointerColorForeground:	black
! Color of hostname background
*color0:					darkGray
! Color of git branch background
*color3:					brown
! Color of current directory
*color4:					cream
! Color of execulables files
*color10:					lightYellow
! Color of directories
*color12:					lightRed
! Color of links
*color14:					lightBlue
! Color of some highlights
*color8:					cream
